name: Docker Image CI

env:
  REGISTRY: ghcr.io

on:
  push:
    branches: [ "main" ]
    tags:
      - v*
  schedule:
    - cron: "0 2 * * 0"

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: true

  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout repository
       uses: actions/checkout@v2

     - name: Log in to the Container registry
       uses: docker/login-action@v1
       with:
         registry: ${{ env.REGISTRY }}
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}

     - name: Extract metadata for Docker
       id: meta
       uses: docker/metadata-action@v3
       with:
         images: ${{ env.REGISTRY }}/${{ github.repository }}
         tags: |
           type=ref,event=tag,priority=400
           type=sha,prefix=,priority=200
           type=edge,priority=100
            
     - name: Build and push Docker image on branch
       uses: docker/build-push-action@v2
       with:
         push: true
         context: .
         file: Dockerfile
         tags: ${{ steps.meta.outputs.tags }}
         labels: ${{ steps.meta.outputs.labels }}

     - name: Extract metadata for Docker for tag
       id: metatag
       if: startsWith(github.ref, 'refs/tags/v')
       uses: docker/metadata-action@v3
       with:
         images: ${{ env.REGISTRY }}/${{ github.repository }}
         tags: |
           type=ref,event=tag

     - name: Build and push Docker image for tag
       if: startsWith(github.ref, 'refs/tags/v')
       uses: docker/build-push-action@v2
       with:
         push: true
         context: .
         file: dev/build/Dockerfile
         tags: ${{ steps.metatag.outputs.tags }}
         labels: ${{ steps.metatag.outputs.labels }}
