name: Docker Image CI

env:
  REGISTRY: ghcr.io

on:
  push:
    tags:
      - v*
  schedule:
    - cron: "0 2 * * 0"

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker for tag
        id: metatag
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}
          flavor: |
            latest=true
          tags: |
            type=ref,event=tag
              
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          file: Dockerfile
          tags: ${{ steps.metatag.outputs.tags || 
                format('{0}/{1}:latest', env.REGISTRY, github.repository) }}
          labels: ${{ steps.metatag.outputs.labels }}
